.App {
  font-family: sans-serif;
  text-align: center;
}
.heading {
  background-color: skyblue;
  padding: 1.5rem;
  border-radius: 1rem;
}
.body {
  max-width: 600px;
  margin: auto;
}
.container {
  border-radius: 0.5rem;
  border: 0.5rem solid black;
  padding: 1rem 0;
  max-width: 600px;
  margin: auto;
  margin-bottom: 2rem;
}
.btn {
  padding: 0.35rem;
  border-radius: 1rem;
  margin: 0rem 0.35rem;
}
img {
  margin-top: 2rem;
  margin-bottom: 1rem;
  max-width: 400px;
  max-height: 200px;
}
.about {
  max-width: 400px;
  margin: auto;
  text-align: left;
}
